{
  "extends": "airbnb-base",
  "env": {
    "node": true,
  },
  "rules": {
    "indent": ["error", 2],
    "max-len": "off",
    "camelcase": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-param-reassign": ["error", { "props": false }],
    "operator-linebreak": "off",
  }
}
