#kgBubbleContainer {
    flex: 1 0 0;  
    height: 30rem;
    position: relative;
    overflow: hidden;
}
#legendContainer {
    height: 30rem;
    overflow-x: auto;
}
.legendHeader {
    padding: 5px 0px 0px 10px;
    margin: 10px 0px 0px 0px;
}
#nodeNumSlider {
    position: absolute;
    top: 5px;
    right: 10px;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 20px;
    padding: 0px 20px;
}