#resultsContainer {
    display: flex;
    width: 100%;
    margin: 10px;
}
#resultsTable {
    flex-grow: 1;
    height: 600px;
    display: inline-block;
    overflow-y: auto;
}
.resultsTableHeader {
    border: 1px solid lightgray;
    border-collapse: collapse;
}
/* override table hover colors */
.MuiTableRow-root.Mui-selected {
    background-color: rgba(13, 0, 30, 0.08);
}
.MuiTableRow-root.Mui-selected:hover {
    background-color: rgba(13, 0, 30, 0.1);
}

#resultExplorer {
    position: relative;
    width: 0%;
    height: 600px;
    display: inline-block;
    overflow-y: auto;
}
#resultMetaData {
    height: 49%;
    overflow-y: auto;
}
#noAnswersMessage {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 28vh;
}