.loader-static {
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingMessage {
  display: block;
  margin: 30 auto;
}

.bubble {
  animation: expand 1.2s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 20px;
  height: 20px;
}

.bubble:nth-child(1) {
  background: #b8c6db;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #b8c6db;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #b8c6db;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #b8c6db;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.55);
  }
}
