.textEditorSelector {
    margin: 0px 10px;
    min-width: 200px;
}
.referenceNode > .nodeDropdown {
    background-color: #f2f2f2;
}
.node-option-tooltip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}