footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #5e5e5e;
    background-color: #f5f7fa;
}
footer p {
    font-size: 1.25em;
    margin-top: 5px;
    text-align: center;
}
